extends layout

block content
  .container-fluid
    .row
      .col-md-3.position-relative.border-right
          ul.list-unstyled.position-fixed
            li(class=page.activeLinks.section == "getting-started" ? "active" : "")
              a.text-dark(href="#", class=page.activeLinks.section == "getting-started" ? "active font-weight-bold" : "") Getting Started
              ul.list-unstyled.ml-3(class=page.activeLinks.section == "getting-started" ? "" : "collapse")
                li
                  a.text-dark(href="/docs/getting-started/introduction", class=page.activeLinks.item == "introduction" ? "active" : "") Introduction
                li
                  a.text-dark(href="/docs/getting-started/installation", class=page.activeLinks.item == "instalation" ? "active" : "") Installation
                li
                  a.text-dark(href="/docs/getting-started/usage") Usage
            li(class=page.activeLinks.section == "api-reference" ? "active" : "")
              a.text-dark(href="#") API Reference
                ul.list-unstyled.ml-3(class=page.activeLinks.section == "api-reference" ? "" : "collapse")
                  li
                    a.text-dark(href="/docs/api-reference/public-market-data") unizendLocalbtc.publicMarketData
                  li
                    a.text-dark(href="/docs/api-reference/localbitcoins") unizendLocalbtc.localbitcoins
                  li
                    a.text-dark(href="/docs/api-reference/ads") unizendLocalbtc.ads
                  li
                    a.text-dark(href="/docs/api-reference/trades") unizendLocalbtc.trades
                  li
                    a.text-dark(href="/docs/api-reference/account") unizendLocalbtc.account
                  li
                    a.text-dark(href="/docs/api-reference/wallet") unizendLocalbtc.wallet
            li(class=page.activeLinks.section == "about" ? "active" : "")
              a.text-dark(href="#") About
                ul.list-unstyled.ml-3(class=page.activeLinks.section == "about" ? "" : "collapse")
                  li
                    a.text-dark(href="/docs/about/overview") Overview
                  li
                    a.text-dark(href="/docs/about/team") Team

      block primary