extends layout

block content
  .container
    .row
      .col-md-8.mx-auto.text-center.my-5
        h2.display-4.mt-5.mb-4 #{page.headings.main}
        p.lead.mb-4 #{page.headings.secondary}
        p Unizend's Node.js Localbitcoins API Client Library has been build to help you access to the localbitcoins API from your Node.js project.
        p It provides a series of methods that hopefully will ease your development with the Localbitcoins API using Node.js.
        p.alert.alert-info In a couple days we will be launching the firt version of the unizend-localbtc docs. Stay tuned.
        a.btn.btn-link.border-primary.btn-lg.mb-5(href="/docs") Get Started
  .row
    .col-md-4.bg-dark.text-light.p-5
      h3.text-center.mb-5 About the project
      ul.list-group.list-group-flush.bg-light.text-dark.mb-4
        li.list-group-item #[b Package Name:] #{unizendLocalbtc.title}
        li.list-group-item #[b Version:] v-#{unizendLocalbtc.version}
        li.list-group-item #[b Author:] #[a(href=unizendLocalbtc.author.url, title=unizendLocalbtc.author.name, target="blank") #{unizendLocalbtc.author.name}]
        li.list-group-item #[b See Contributors:] #[a(href=unizendLocalbtc.contributorsUrl, target="blank") Contributors]
        li.list-group-item #[b Post an issue:] #[a(href=unizendLocalbtc.issuesUrl, target="blank") Issues]
        li.list-group-item #[b License:] #[a(href=unizendLocalbtc.license.url, target="blank") #{unizendLocalbtc.license.name}]
      a.btn.btn-link.border-primary(href=unizendLocalbtc.repo.url, target="blank") See at GitHub

    .col-md-4.bg-dark.text-light.p-5
      h3.text-center.mb-5 Installation
      p As simple as going to your project folder and typing the following line on your command prompt.
      pre.text-light npm i --save unizend-localbtc
      a.btn.btn-link.border-primary.disabled(href="/docs") Read installation docs

    .col-md-4.bg-dark.text-light.p-5
      h3.text-center.mb-5 Contributing
      p Crypto needs adoption and the goal of this tool is to help other developers build faster! If you find any #[a(href=unizendLocalbtc.issuesUrl, target="_blank") bugs / issues] or have suggestions, please consider collaborating. #[b It would be greatly appreciated].
      p Remember this project has a #[a(href=unizendLocalbtc.codeOfConductUrl, target="blank") code of conduct]. We hope everyone taking part of this project, agree with our code of conduct. Read it to know what we exxpect from the contributors.
      a.btn.btn-link.border-primary(href=unizendLocalbtc.contributingUrl, target="blank") See at GitHub

  .container
    .row
      .col-md-6.mx-auto.text-center.my-5
        h3.h1.mb-5 Acknowledgements
        .row
          .col-md-6
            a(href="https://unizend.com", title="Unizend", target="_blank")
              img(src="http://unizend.com/img/unizend-logo.svg" alt="Unizend Logo" width="200" height="80" style="max-width:100%;")
          .col-md-6
            a(href="https://localbitcoins.com", title="Localbitcoins", target="_blank")
              img(src="https://localbitcoins.com/cached-static/img/lbc_pin_100.ce242dbebaf8.png" alt="Localbitcoins Logo" style="height:70px;")


