
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    title= title

    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(name="author", content=author.name + ' <' + author.url + '>')
    meta(name="robots", content="index, follow")

    link(rel="shortcut icon", href="images/favicon-unizend.png" type="image/x-icon")

    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
    link(rel='stylesheet', href='/stylesheets/style.min.css')

    //- Global site tag (gtag.js) - Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-157716309-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157716309-1');

  body
    header.sticky-top
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.py-3
        .container-fluid
          a.navbar-brand(href="/", title=title)
            h1.h5.mb-0 #{title}
          button.navbar-toggler(type="button", data-toggle="collapse", data-target="#mainNavbar", aria-controls="mainNavbar", aria-expanded="false", aria-label="Toggle Navigation")
            span.navbar-toggler-icon
          #mainNavbar.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(href="/docs") Documentation
              li.nav-item
                a.nav-link.disabled(href="/examples") Examples
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href=repo.url, title=repo.title, target="_blank")
                  i.fab.fa-github.fa-lg
              li.nav-item
                a.nav-link(href=package.url, title=package.title, target="_blank")
                  i.fab.fa-npm.fa-lg

    main
      block content

    footer.border-top
      .container
        .row
          .col-md-6
            ul.nav.mb-3
              li.nav-item
                a.nav-link(href=repo.url, title=repo.title, target="_blank").
                  Github
              li.nav-item
                a.nav-link(href=package.url, title=package.title, target="_blank").
                  Npnjs
          .col-md-6.text-right
            p Developed by #[a(href=author.url, target="_blank") #{author.name}] and #[a(href="https://unizend.com", target="_blank") The Unizend Team.]
            p Currently v#{version}. Code licensed under #[a(href=license.url, target="blank") #{license.name}.]

    a#backToTop.back-to-top(href="#", role="button")
      i.fas.fa-chevron-up
    
    script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js", integrity="sha256-3Iu0zFU6cPS92RSC3Pe4DBwjIV/9XKyzYTqKZzly6A8=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src="javascript/unizend-localbtc-documentation.js")
